{% capture description %}
  {%- if product.empty? -%}
    {{ 'home_page.onboarding.product_description' | t }}
  {%- else -%}
    {{ product.description }}
  {%- endif -%}
{% endcapture %}
{%- if is_tab -%}
  {% assign title = 'products.product.description' | t %}
  {%- render 'tab', id: id, title: title, content: description -%}
{%- else -%}
  <div class="rte">
    {{ description | replace: '<iframe' , '<iframelazy data-class="LazyLoad"' | replace: '</iframe' , '</iframelazy' | replace: ' src="https://www.youtube.com/' , ' data-src="https://www.youtube.com/' }}
  </div>
{%- endif -%}
